body {
    overflow-x: hidden;
}
.wrapper {
    overflow: hidden;
    min-height: 100vh;
    background: url('../img/background/body.jpg') no-repeat center/cover;

}

.container {
    max-width: 1584px;
    width: 100%;
    margin: 0 auto;
}

/* header */


.sidebar-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
}
.left-aside {
    max-width: 405px;
    min-height: 100vh;
    z-index: 1000;
}

.header__info {

    position: relative;
    z-index: 1;
    padding: 25px 71px 25px 50px;
    background: url('../img/header/backgorund-header.png')no-repeat center/cover;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
.header-text p  {
    color: #fff;
    font-family: "Montserrat-Medium";
    font-size: 10px;
    font-weight: 500;
    line-height: 15px;
    text-transform: uppercase;
    margin: 0px 0px 9px 0px;
    max-width: 295px;
}

.header-text p:last-child {
    margin: 0;
}

.header-text p:nth-child(2) {
    font-size: 15px;
    max-width: 100%;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    line-height: 18px;
}

.header__block {
    position: relative;
    margin: -15px 0px 0px 0px;
    padding: 0px 0px 0px 50px;
    min-height: 100vh;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(20px);
    

}
.header-nav {
    padding: 45px 0px 0px 0px;
    margin: 0px 0px 26px 0px;

    
}
.header-menu li a {
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 40px;
    transition: 0.5s all;
    border-bottom: 1px solid #9fa591;
}

.header-menu li a:nth-child(8) {
    line-height: 0px;

}

.header-menu li a:hover {
    border-bottom: 1px solid #fff;
    
}

.main-btn {
    position: relative;
    max-width: 305px;
    color: #fff;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    align-items: center;

    height: 60px;
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid #FFFFFF;
    border-radius: 5px;
    margin: 0px 0px 35px 0px;
    transition: .2s all;

}

.main-btn span {
    margin: 0px 15px 0px 15px;
}

.main-btn:hover {

    -webkit-box-shadow: 10px 0px 82px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 0px 82px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 0px 82px 0px rgba(0,0,0,0.75);
}

.main-btn a {
    border-bottom: 1px transparent solid;
    display: inline-block;
    padding-bottom: 1px;
    position: relative;
    color: #fff;
    transition: .3s all; 
}
.main-btn a:hover {
 border-color: #fff;
}
.block-subscribe {
    color: #ffffff;
}

.block-subscribe p {
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
}

.block-subscribe:nth-child(2) {

    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
}

.block-subscribe .main-date {
 font-family: "RobotoBold";
 font-size: 14px;
 margin: 5px 0px 16px 0px;
}

.main-title {
    margin: 0px 0px 10px 0px;
    font-family: "RobotoBold";
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
}
.block-text .main-date {
    margin: 5px 0px 0px 0px;
    font-family: "RobotoBold";
    font-size: 14px;
    font-weight: 700;
    line-height: 15px;
    color: #fff;
}
.row_data .block-text {
    margin-bottom: 16px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.block-text p {
    color: #fff;
    max-width: 156px;
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    margin: 0px 0px 4px 0px;
}

.block-text .block-text__date {
    margin: 18px 0px 19px 0px;
}

.block-text .block-text__date-2 {
    margin: 0px 0px 20px 0px;
}



.language-block {
    position: absolute;
    top: 35px;
    right: 35px;
}

.list-language {

    max-width: 94px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    border-radius: 2px;
}


.list-language a {

    padding: 5px 12px 5px 12px;
    color: #b4b7bc;
    font-family: "Montserrat-Regular";
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    display: inline-block;
}



.list-language li {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    align-items: center;
}

.list-language  a:hover,
.list-language a.active  {
    color: #fff;
    background-color: rgba(255, 255, 255, 0.3);
}


/* sponsors */

.sponsors {
    padding: 36px 0px 0px 0px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;

    align-items: center;
    
    
}
.sponsors-img {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 91px;
    height: 91px;
    border-radius: 50%;
    background-color: #ffffff;
    
}

.sponsors .sponsors-img:last-child{
    margin: 0;
}

.sponsors-img img {
    max-width: 100%;
    max-height: 100%;
    height: auto;
}

.sponsors .sponsors-img:nth-child(4) {
    width: 119px;
    height: 119px;
}

.sponsors-2 {
    margin: 0px 0px 30px 0px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-around;
    padding: 0 30px;


}

.sponsors-text {
    text-align: right;
    opacity: 0.5;
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    line-height: 20.05px;
    margin: 0px 0px 140px 0px;
}


/* conference */

.conference {
    position: relative;
}

.conference-subtitle {
    color: #ffffff;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    margin: 0px 0px 40px 0px;
}
.conference-text {
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}
.conference-text p {
    margin-bottom: 20px;
}
.conference-text span {
    text-transform: uppercase;
}
.conference-title {
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 46px;
    line-height: 60px;
    margin: 0px 0px 40px 0px;
}
.conference-img {
    margin: 40px 0px 60px 0px;
}

.conference-img img {
    max-width: 100%;
    height: auto;
}

.conference-invite {
    margin: 60px 0px 0px 0px;
    color: #ffffff;
    font-family: 'Georgia-Italic';
    font-size: 26px;
    font-weight: 400;
    line-height: 24px;
    font-style: italic;
}

/* scroll */

.scrolldown {
    position: relative;
    z-index: 2;
    height: 20px;
    display: block;
    text-decoration: none;
    transition: opacity .3s;
}
.scrolldown:hover {
    opacity: 1;
}
.scrolldown a {
    position: absolute;
    top: 20px;
    left: -50px;
    width: 22px;
    height: 36px;
    margin-left: -5px;
    border: 2px solid #fff;
    border-radius: 50px;
    display: inline-block;
    box-sizing: border-box;
}
@-webkit-keyframes sdb10 {
    0% {
      -webkit-transform: translate(0, 0);
      opacity: 0;
  }
  40% {
      opacity: 1;
  }
  80% {
      -webkit-transform: translate(0, 20px);
      opacity: 0;
  }
  100% {
      opacity: 0;
  }
}
@keyframes sdb10 {
    0% {
      transform: translate(0, 0);
      opacity: 0;
  }
  40% {
      opacity: 1;
  }
  80% {
      transform: translate(0, 20px);
      opacity: 0;
  }
  100% {
      opacity: 0;
  }
}
.scrolldown a::before {
    position: absolute;
    top: 3px;
    left: 50%;
    content: '';
    width: 4px;
    height: 4px;
    margin-left: -2px;
    background-color: #fff;
    border-radius: 25px;
    -webkit-animation: sdb10 2s infinite;
    animation: sdb10 2s infinite;
    box-sizing: border-box;
}
.col_content {
    padding-bottom: 143px;
}
.header-menu ul {
    display: none;
    padding: 5px 10px;
}
.header-menu ul li {
    margin: 7px 0;
}
.header-menu ul li a {
    font-size: 13px;
    line-height: 16px;
}

.map-main {
    height: 280px;
    width: 100%;
}
.ymaps-2-1-77-svg-icon.ymaps_https___api_maps_yandex_ru_2_1_77_31695669538islands_icon___1E98FF_34x41_1598267777951 {

}
 /* place */

  .place-img img {
      max-width: 100%;
      max-height: 100%;
  }

  .place-img {
      margin: 128px 0px 0px 0px;

  }


  .place-title {
      margin: 121px 0px 0px 0px;
}

.place-address {
    font-size: 14px;
    font-weight: 400;
    font-size: 16px;
    color: #Fff;
    margin: 0px 0px 20px 0px;
  
    
}

.place-address-items {
    margin: 40px 0px 0px 0px;


}

.place-address-title {
    font-family: "RobotoBold";
  
    font-weight: 700;
    font-size: 16px;
    margin: 0px 0px 10px 0px;
    color: #fff;
}
.place-phone-title {

  
}
.place-phone__link {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
}

/* choice */

.choice-title {
    margin: 0;
    margin: 60px 0px 40px 0px;
    font-size: 32px;
}

.btns-tabs  {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0px 0px 20px 0px;    
}


.btns-tabs li {
    width: 100%;
}

.btns-tabs a {
   margin: 0 15px;
    padding: 18px 0px 18px 0px;
    white-space: nowrap;
    background: rgba(255, 255, 255, 0.4);
    border: 1px solid #FFFFFF;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "RobotoBold";
    font-weight: 700;
    font-size: 16px;
    color: #fff;
    transition: all 0.3s;
}
.btns-tabs li:first-child a {
    margin-left: 0;
}
.btns-tabs li:last-child a {
    margin-right: 0;
}
.tab-pane-report,
.tab-pane-map {
   height: 0;
   overflow: hidden;
}
.tab-pane-report.active,
.tab-pane-map.active {
    height: auto;
}

.btns-tabs li a:hover,
.btns-tabs li.active a  {
    background: rgba(8, 174, 79, 0.4);
    border: 1px solid #08AE4F;
    
}

#map {
    width: 100%;
    height: 280px;
}

/* report */

.report-title {
    margin-top: 115px;
}

.report-subtitle {
    font-size: 32px;
    margin: 40px 0px 20px 0px;
}

.report-payment {
    color: #fff;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    margin: 0px 0px 10px 0px;

}
.report-price {
    color: #fff;
    font-family: "RobotoBold";
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 24px;
    margin: 0px 0px 40px 0px;
}

.report-price span {
    color: #fff;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
  
}

.report-article {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
    margin: 0px 0px 60px 0px;
}

.tabs-container {
    position: relative;
}
.report-slider {
   position: relative;
  margin-top: 10px;
}
.report-slider-item {
    height: 426px;
}
.slider-report-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;   
}
.slider-report-img {
    height: 198px;
    margin: 0px 0px 30px 0px;
    display: block;
    transition: all 0.3s;
    }
.slider-report-img:hover {
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.8);
}
.slider-report-img-big {
    height: 258px;
   
}
.slider-report-img-small {
    height: 137px;
}
.report-slider {
    padding-bottom: 90px;
}
.slick-arrow {
    position: relative;
    z-index: 1;
    bottom: 0;
    left: 0;
    top: auto;
        position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border: 1px solid #FFFFFF;
    border-radius: 5px; 
    transition: all 0.3s;
    }
.slick-arrow:hover {
    box-shadow: 0 0 5px #fff;
}
.slick-next {
    left: 80px;
}
.title-big {
    color: #ffffff;
    font-family: "Montserrat-Bold";
    font-size: 46px;
    line-height: 60px;
}
.choice .title-big {
   margin: 60px 0px 40px 0px;
    font-size: 32px;
}
.title-big_min {
    font-size: 32px;
}
.ymaps-2-1-77-placemark-overlay.ymaps-2-1-77-user-selection-none {
    width: 40px;
    height: 40px;
    background-color: #000;
}
.slick-prev:before, .slick-next:before {
    display: none !important;
}
.fancybox-skin {
    padding: 0 !important;
}

/*contacts*/
.contact-map {
    margin: 128px 0px 0px 0px;
}

.contact-map img {
    max-width: 100%;
}
.title-big_contacts {
    margin-bottom: 40px;
    margin-top: 121px;
}
.contacts-info__caption{
    font-family: "RobotoBold";
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    margin-bottom: 10px;
}
.contacts-info__text{
    font-family: "RobotoRegular";
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    margin-bottom: 20px;
}
.contacts-info__image{
    margin-top: 121px;
}
.contacts-form {
    padding-bottom: 0px;
    width: 100%;
}
.contacts-form__title{
    font-family: "Montserrat-Bold";
    font-size: 32px;
    line-height: 36px;
    color: #FFFFFF;
    margin-bottom: 40px;
    margin-top: 74px;
}
.contacts-form textarea,
.contacts-form input {
    outline: none;
    width: 100%;
    height: 60px;
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid #FFFFFF;
    border-radius: 5px;
    font-family: "RobotoRegular";
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    margin-bottom: 20px;
    padding-left: 20px;
    transition: all 0.3s;
}
.contacts-form textarea {
    height: 120px;
    padding-top: 18px;
    resize: none;
}
.contacts-form textarea:hover,
.contacts-form input:hover {
    border: 1px solid #08AE4F;
}
*::-webkit-input-placeholder {
    color: #FFFFFF;
    opacity: 1;
    }
    *:-moz-placeholder {
    color: #FFFFFF;
    opacity: 1;
    }
    *::-moz-placeholder {
    color: #FFFFFF;
    opacity: 1;
    }
    *:-ms-input-placeholder {
    color: #FFFFFF;
    opacity: 1;
    }

.form-btn{
    cursor: pointer;
    width: 100%;
    height: 60px;
    background: rgba(255, 255, 255, 0.4);
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 5px;
    font-family: "RobotoBold";
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    transition: all 0.3s;
}
.form-btn:hover{
    background: rgba(255, 255, 255, 0);
}

.place-title {
    width: 500px;
}